.card{
    grid-gap: 4rem;
    background-color: #fff;    
    height: 300px;
}
.imagecontainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
.imageposition{
    position: absolute;    
}
.design_image1 {
    height: 100%;
}
.design_image2{
    padding-top: 30px;
    height: 100%;
}
@media (max-width: 1400px){
  
    .container{
      padding-left: 0rem;
      padding-right: 0rem;
    }
}

@media (max-width: 1370px){
    .container{
        padding-left: 0rem;
        padding-right: 0rem;
      }
    .card{
        grid-gap: 4rem;
        background-color: #fff;    
        height: 430px;
    }
    .design_image1 {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 639px){

    .imagecontainer{
      min-height: 200px;
    }
}