  
    #containerbg { 
     
      
        background: #B7D3DF;
    }

  
    .cards {
     
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto; 
        grid-gap: 1rem;
      
    }
    .cardsPlain {
       
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto; 
        grid-gap: 1rem;
        border: 1px solid #eaeaea;
        border-radius: 2px;   
        padding: 1.5rem;
        background-color: #e5f1f7;  
    }
    .card {
      
      border: 1px solid #eaeaea;
      border-radius: 2px;   
      padding: 2.5rem;
      background-color: #e5f1f7; 
      /* box-shadow: 0 5px 10px -3px rgb(0 0 0 / 35%); */
      margin-top: 0px;
      transition: margin-top 0.2s,box-shadow 0.2s;      
    }

    /* .card:hover{     
      box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
      margin-top: -5px;
      transition: margin-top 0.05s,box-shadow 0.2s;      
    } */
    
    .column__icon{
        background-color: #e5f1f7; 
        height: 100px;
        max-width: 65px;
    }
    
    .column__icon > img {
        width: 100%;
        height: auto;
    }
        
    .column__heading >h4{
       
        text-rendering: optimizeSpeed;
        color: #3b3b3b;
        text-align: left;
        font-family: var(--global-text-font-family);
          font-size: 1.4rem;
          word-wrap: break-word;
          font-weight:500;
          line-height: 1.5;
          
    }
    
    .column__content >h5{
        background-color: #e5f1f7; 
        font-size: 1rem;
        font-weight: normal;
        font-family: var(--global-text-font-family);;
        color: var(--global-font-color);
        line-height: 1.4;
    }
    .column__content > p{
        margin-bottom: 0.4rem;
    }
  @media (max-width: 1370px){

    .container_section1 {
      
        font-size: 1.2rem;
        
    }
    .column__heading >h4{
        font-size: 1.2rem;
       
    }

    
    .column__content > h5{
        margin-bottom: 0.2rem;
        font-size: 0.9rem;
    }

  }
  
  
  @media (max-width: 1023px){
    .container_section1 {
      
        font-size: 1.7rem;
        
    }
    
    .cardsPlain, .cards {
    
        grid-template-columns: repeat(1, 1fr);
    }
    
    .column__heading >h4{
        font-size: 1.3rem;
       
    }
    
    
    .column__content > h5{
        margin-bottom: 0.2rem;
        font-size: 1rem;
    }
   
  }
  
  
  @media (max-width: 639px){
  
    .container_section1 {
      
        font-size: 1.7rem;
        
    }
    .cardsPlain {
        padding: 1.5rem;
        grid-gap: 3rem;
    }
    .cardsPlain, .cards {
      
     
        grid-template-columns: repeat(1, 1fr);
    }
    .column__icon {
        height: 80px;
       
    }
    .column__heading >h4{
        font-size: 1.1rem;
       
    }
    
    .column__content{
       
        font-size: 0.9rem;
    }
    
    .column__content > h5{
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
    }
    
  }
  
  